# Environnement virtuel
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Secrets / config locale
.env
*.local

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

#files

.txt